<nav class="app-nav" [ngClass]="{'active': isOpen}">
    <div class="close">
        <button class="icon-button" (click)="handleCloseNavClick()">
            <span class="fa fa-times"></span>
        </button>
    </div>
    <div class="primer">
        <img src="../assets/yar-cat.jpg" alt="yar cat">
    </div>
    <ul>
        <!-- here we loop over the list of nav items, and for each one
		  we'll set up a click handler that passes event data for the nav item
		  that was clicked -->
        <li *ngFor="let item of navItems"
            [ngClass]="{'active': item.key === activeNavItem.key}"
            (click)="handleNavItemClick(item.key)">{{item.title}}</li>
    </ul>
</nav>
