<app-header>
    <nav-toggle (openNavEvent)="openNav()"></nav-toggle>
    <page-title [title]="uiState.activeNavItem.title"></page-title>
    <action-buttons [itemList]="navItemList" (actionButtonEvent)="triggerModal($event)"></action-buttons>
</app-header>

<div class="content">
    <div>
        <img src="../assets/goofy-pirate.png" alt="Goofy"/>
        <h2>{{uiState.activeNavItem.content}}</h2>
    </div>
</div>

<app-nav [activeNavItem]="uiState.activeNavItem"
         [isOpen]="uiState.navIsOpen"
         (setNavItem)="handleNavItemActivation($event)"
         (closeNavEvent)="closeNav()"></app-nav>

<app-modal [isOpen]="uiState.modalIsOpen"
           [modalData]="uiState.modalData"
           (modalCloseEvent)="closeModal()"
           (modalSubmitEvent)="handleNavItemActivation($event)"></app-modal>
<!-- Notice I'm using the same handler I use in the main nav ^^^ -->

