<app-header>
    <!-- here we're handling the nav-toggle's openNavEvent -->
    <nav-toggle (openNavEvent)="openNav()"></nav-toggle>
    <page-title></page-title>
    <action-buttons></action-buttons>
</app-header>

<div class="content">
    <div>
        <img src="../assets/goofy-pirate.png" alt="Goofy"/>
        <h2>Yarrr, content goes herrre...</h2>
    </div>
</div>

<!-- here we're handling the app-nav's closeNavEvent -->
<app-nav [isOpen]="uiState.navIsOpen"
         (closeNavEvent)="closeNav()"></app-nav>

<app-modal></app-modal>
