<div class="modal-container">
    <div class="modal-background"></div>
    <div class="app-modal">
        <img src="../assets/pirate-minion.jpg" alt="pirate minion">
        <div class="interaction">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur deleniti doloremque earum est eum expedita facere fuga harum, in numquam odit quaerat quisquam quod rem, repellendus repudiandae ullam, voluptas.
            </p>
            <div class="modal-buttons">

                <button class="icon-button modal-button cancel-button">
                    <span class="fa fa-ban"></span>
                </button>

                <button class="icon-button modal-button confirm-button">
                    <span class="fa fa-check"></span>
                </button>

            </div>
        </div>
    </div>
</div>