<div class="modal-container" [ngClass]="{'active': isOpen}">
    <div class="modal-background"></div>
    <div class="app-modal">
        <img src="../assets/pirate-minion.jpg" alt="pirate minion">
        <div class="interaction">
            <h2>Activate {{modalData.title}}</h2>
            <p>
                {{modalData.prompt}}
            </p>
            <div class="modal-buttons">

                <button class="icon-button modal-button cancel-button" (click)="handleModalClose()">
                    <span class="fa fa-ban"></span>
                </button>

                <button class="icon-button modal-button confirm-button">
                    <span class="fa fa-check"></span>
                </button>

            </div>
        </div>
    </div>
</div>
